# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv/
venv/
env/
ENV/

.agents/
skills-lock.json

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Coverage / test
.coverage
htmlcov/
.pytest_cache/
.tox/
.nox/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Build / packaging
build/
dist/
*.egg-info/
